@{
    ViewBag.Title = "resetpassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



    <div class="content invoice">
        <div class="form-box" id="login-box">
            <div class="header">ResetPssword</div>

 @using (Html.BeginForm("resetpassword", "Home", FormMethod.Post))
            {
               

<input type="password" name="validatepassword" /><br />
<input type="password" name="newpassword" /><br />
<input type="submit" value="ChangePassword" />

}
            </div>
        </div>
